<body id="form">
<header>
    <nav id="nav-bar">
      <a href="/"> ← Go back</a>
    </nav>
  </header>
  
<div class="room-card">
  <div class="card-container-room">
    <img width= "250" height="250" src={{imageUrl}} alt={{title}}/>
  </div>
  <div class="card-container">
    <h2>{{name}}</h2>
      <p>Room Description: {{description}}</p>
      <p>Owner: {{owner.username}}</p> 
  </div>  
  </div>
</body>