<body id="form">
<header>
    <nav id="nav-bar">
      <a href="/"> ← Go back</a>
    </nav>
  </header>
<div>
  <h4>{{name}}</h4>
  <img width="150px" src={{imageUrl}} alt={{title}}/>
  <p>Room Description: {{description}}</p>
  <p>Owner: {{user.username}}.</p> 
</div>
</body>