<body id="form">
  <header>
    <nav id="nav-bar">
      <a href="/"> ← Go back</a>
    </nav>
  </header>
<div>
    {{#with room}}
      <div class="room-card-expanded">
        <div class="card-expanded-container-room">
          <img height="350" src="{{imageUrl}}" alt="{{name}}"/>
        </div>  
        <div class="card-container">
          <h2>{{name}}</h2>
          <p>Description:<br>{{description}}</p>
          <p>Owner:<br>{{owner}}</p>
        </div>
     </div>
    {{/with}} 
  </div>
</body>