<div id="form">
  <h1>{{username}}{{user.username}}{{userInDB.username}}'s profile</h1>
  <p>Email: {{email}}{{user.email}}{{userInDB.email}}</p>
  <p>slackID: {{slackID}}{{user.slackID}}{{userInDB.slackID}}</p>
  <p>googleID: {{googleID}}{{user.googleID}}{{userInDB.googleID}}</p>
  <a href="/profile/edit">Edit profile</a>
  <form action="/auth/logout" method="GET">
    <button type="submit">Logout</button>
  </form>
</div>
