<body id="form">
  <header>
    <nav id="nav-bar">
      <a href="/"> ← Go back {{username}}</a>
    </nav>
  </header>
<div class="card">
  <div class="profile">
    <img src="https://www.ccd.edu/sites/default/files/PhotoAvatar.jpg" class="avatar">
  </div>
  <section id="menu-container">
    <h1 class="title">{{username}}{{user.username}}{{userInDB.username}}</h1>
    <p class="subtitle">Email: {{email}}{{user.email}}{{userInDB.email}}</p>
    <p class="subtitle">SlackId: {{slackID}}{{user.slackID}}{{userInDB.slackID}}</p>
    <p class="subtitle">GoogleId: {{googleID}}{{user.googleID}}{{userInDB.googleID}}</p>
    <a href="/profile/edit">Edit profile</a>
    <a href="/profile/rooms">See My Rooms</a> 
    <a href="/auth/logout">Logout</a>
  </section>
</div>
</body>

